.App {
  text-align: center;
  /* margin: 1em */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Fixed head and foot: https://stackoverflow.com/questions/4069734/fixed-header-footer-with-scrollable-content */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.body{
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}
header {
  flex-shrink: 0;
  margin: 0.5rem;
}
footer{
  flex-shrink: 0;
}
